.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    width: 50vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 50px;
}

.text_top {
    font-size: 1.5em;
}

.button {
    text-align: center;
    width: 150px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    transition: ease-out 0.8s;
    -webkit-transition: ease-out 0.8s;
    -moz-transition: ease-out 0.8s;
}

.button:hover {
    box-shadow: inset 400px 0 0 0 black;
}

.button span:hover {
    color: white;
}

.link {
    text-decoration: none;
}

.text_button {
    margin: 0;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

.container__reference {
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    margin: 10px;
}

.container__reference a {
    color: inherit;
}