.categories {
    border: 1px solid rgb(0, 0, 0);
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: left;
    list-style: none;
    padding: 10px;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
  }
  
  .categories li {
    display: inline-block;
    margin: 0px 15px 0px;
  }
  
  .categories a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  .categories a button {
    border: none;
    background: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
  }

  .category-film:hover {
    color: #1B6FDE;
    font-weight: bold;
  }

  .category-painting:hover {
    color: #F85A40;
    font-weight: bold;
  }

  .category-literature:hover {
    color: #6F60E1;
    font-weight: bold;
  }

  .category-performing-arts:hover {
    color: #F48924;
    font-weight: bold;
  }

  .category-architecture:hover {
    color: #E5338E;
    font-weight: bold;
  }

  .category-sculpture:hover {
    color: #30C39E;
    font-weight: bold;
  }

  .category-crafts:hover {
    color: #FFC845;
    font-weight: bold;
  }

  .category-music:hover {
    color: #9E6F42;
    font-weight: bold;
  }

  .category-photography:hover {
    color: #26A4DE;
    font-weight: bold;
  }

  .category-installation:hover {
    color: #E0B56A;
    font-weight: bold;
  }

  .category-drawing:hover {
    color: #0A8EA0;
    font-weight: bold;
  }