.container {
    display: grid;
    grid-template-areas: 
            "title image"
            "created_by created_by"
            "inspired_by inspired_by"
            "inspired_others inspired_others";
    justify-content: center;
    align-content: center;
    
}

.title {
    grid-area: title;
}

.image {
    grid-area: image;
}

.created_by {
    grid-area: created_by;
}

.inspired_by {
    grid-area: inspired_by;
}

.inspired_others {
    grid-area: inspired_others;
}