.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 30px;
}

.text__container {
    margin: 20px;
}

.main_text {
    width: max-content;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
    font-size: 2.5em;
    /* color: rgb(102, 0, 204); */
    /* background: -webkit-linear-gradient(left,red, orange, violet, cyan, blue);
    background: -o-linear-gradient(right,red, orange, violet, cyan, blue);
    background: -moz-linear-gradient(right,red, orange, violet, cyan, blue);
    background: linear-gradient(to right,red, orange, violet, cyan, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.text {
    font-size: 1.5em;
    margin: 10px;
    text-align: center;
}

.email {
    width : 100%;
    flex-direction : row;
    text-align: left;
    margin-top: 3%;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    /* transition: 0.3s all ease; */
    transition: 0.1s ease-in; 
    margin-bottom: 20px;
}

.email::placeholder {
    color: rgb(0, 0, 0);
    font-style: italic;

  }

.button {
    width : 100%;
    flex-direction : row;
    text-align: center;
    width: 150px;
    margin-top: 3%;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    transition: ease-out 0.8s;
    -webkit-transition: ease-out 0.8s;
    -moz-transition: ease-out 0.8s;
}

.button:hover {
    cursor: pointer;
    box-shadow: inset 400px 0 0 0 black;
    color: white;
}