.artwork {
    width: 30%;
    list-style: none;
    border: 1px solid rgb(0, 0, 0);
}

.artwork__item {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.artwork__item__type {
    color: rgb(115, 115, 115);
}

.artwork__item__title {
    font-size: 1.5em;
}

.artwork__item__title p {
    margin: 0;
}

.artwork__item__person p {
    margin-bottom: 5px;
}

.artwork__item__person ul {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 0px;
    font-size: 0.8em;
}

.artwork__item__person li {
    display: 'inline';
    text-decoration: underline;
}

.artwork__item__inspired_by p {
    margin-bottom: 5px;
}

.artwork__item__inspired_by ul {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 0px;
    font-size: 0.8em;
}

.artwork__item__inspired_by li {
    display: 'inline';
    text-decoration: underline;
}

.artwork__item__inspired_others p {
    margin-bottom: 5px;
}

.artwork__item__inspired_others ul {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 0px;
    font-size: 0.8em;
}

.artwork__item__inspired_others li {
    display: inline;
    text-decoration: underline;
}